@page "/article-list"
@using static PostCreator.Core.Models
@using PostCreator.Core.Services
@inject IArticleService ArticleService
@inject NavigationManager Navigation

<PageTitle>Articles</PageTitle>

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 position-relative">
    <div class="content text-center">
        @if (ArticleService.Articles == null || ArticleService.Articles.Count == 0)
        {
            <div>Loading articles...</div>
        }
        else
        {
            <div class="card-container">
                @foreach (var article in ArticleService.Articles)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@article.Title</h5>
                            <p class="card-text">@article.Subtitle</p>
                            <button class="btn btn-secondary" @onclick="() => SelectArticle(article)">
                                <i class="far fa-copy btn-icon"></i> Select
                            </button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {
    private void GoBack()
    {
        Navigation.NavigateTo("/", true);
    }

    private void SelectArticle(Article article)
    {
        Navigation.NavigateTo("/article-detail");
    }
}
