@page "/"
@using PostCreator.Core.Services
@using static PostCreator.Core.Models
@using PostCreator.WebApp.Components
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject IArticleService ArticleService

@layout MainLayout

<PageTitle>PostCreator</PageTitle>

<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 position-relative">

    <div class="content">
        <div class="text-center">
            <h3>Welcome to PostCreator!</h3>
            <p>Generate and Post Content effortlessly with just a few clicks.</p>
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <PromptInput OnGenerateContent="HandleGenerateContent" />
                </div>
            </div>
        </div>
</div>

</div>

@code {
    private async Task HandleGenerateContent(string prompt)
    {
        await ArticleService.LoadArticles(prompt);
        Navigation.NavigateTo("/article-list");
    }
}
